.DS_Store
artifacts/

DotnetApi/.vs/
DotnetApi/bin/
DotnetApi/obj/
DotnetApi/Data/*.db
DotnetApi/Data/*.db-shm
DotnetApi/Data/*.db-wal
DotnetApi/appsettings.json
DotnetApi/appsettings.Development.json
DotnetApi/appsettings.*.local.json

Vue3/node_modules/
Vue3/dist/
Vue3/.env
Vue3/.env.development
Vue3/.env.local
Vue3/.env.*.local